<div class="container">
  <h1>Edit Course</h1>
  </br>
  <div class="span6" style="text-align: left">
    <form action="/users/<%= @user.slug %>/edit" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <h3>Name</h3>
  	  <input type="text" name="user[name]" placeholder="<%= @user.name %>"
      <br>
      <h3>E-Mail</h3>
      <input type="text" name="user[email]" placeholder="<%= @user.email %>">
      <br>
      <h3>Username</h3>
      <input type="text" name="user[username]" placeholder="<%= @user.username %>"> 
      <br> 
      <input type="submit" value="Submit">
    </form>
    <br>
        <h5>Edit Password?</h5>
        <a href="/users/<%= @user.slug %>/edit_password"> Change Password</a>
    <form action="/users/<%= @user.slug %>/delete" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <h5>Delete User?</h5>
        <input type="submit" value="Delete">
    </form>
  </div>
</div>