<div class="container">
  <h1>Edit Course</h1>
  </br>
  <div class="span6" style="text-align: left">
    <form action="/users/<%= @user.slug %>/edit" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <h3>Name</h3>
  	  <input type="text" name="user[name]" placeholder="<%= @user.name %>"
      <br>
      <h3>E-Mail</h3>
      <input type="text" name="user[email]" placeholder="<%= @user.email %>">
      <br>
      <h3>Username</h3>
      <input type="text" name="user[username]" placeholder="<%= @user.username %>"> 
      <br>
      <h3> Password Change </h3>
      <input type="text" name="new_password[password]" placeholder="Confirm Current Password">
      <br>
      <input type="text" name="new_password[new_pass1]" placeholder="New Password">
      <br>
      <input type="text" name="new_password[new_pass2]" placeholder="Confirm New Password"> 
      <br>  
      <input type="submit" value="Submit">
    </form>
    <form action="/users/<%= @user.slug %>/delete" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <h5>Delete User?</h5>
        <input type="submit" value="Delete">
    </form>
  </div>
</div>