<html>
  <body>
    <div class="container">
      <h1><%= current_user.name %></h1>
      </br>
      <h2><%= @course.name %></h2>
      <a href="/courses/edit/<%= @course.slug %>">Edit Course</a>
      <h4>Period: <%= @course.period %></h4>
      <h4>Semester: <%= @course.semester %></h4>
      <div class="span4">
        <h3>Roster</h3>
          <% @course.students.each do |x| %>
            <a href="/students/<%= x.slug %>"><%= x.name %></a>
            <br></br>
          <% end %>
      </div>
    </div>
  </body>
</html>